---
import Layout from "../layouts/Layout.astro";
import Accordion from "../components/Accordion.astro";
---

<Layout>
  <div class="w-full max-w-4xl p-4 space-y-4 border-2 border-green-500">
    <h1 class="border-2 text-center">Astro</h1>
    <div class="border-2 px-2 py-2">
      <Accordion />
    </div>
  </div>
</Layout>
