---
import Layout from "../layouts/Layout.astro";

import VideoBackground from "../components/VideoBackground.astro";
---

<Layout>
  <div class="w-full p-4 space-y-4 border-2 border-green-500">
    <div
      class="border-2 rounded-lg px-2 py-2 relative w-full h-full overflow-hidden"
    >
      <VideoBackground
        src="/AstroTailwindThemeToggle/video/42TransparentScorpioLogo.webm"
      >
        <h2 class="text-3xl text-center pt-1">Hello, Scorpio!</h2>
      </VideoBackground>
    </div>
  </div>
</Layout>
