---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Minkowice from "./public/jelcz.svg";
---

<Layout title="Video Page" description="This is the video page">
  <div class="h-[80vh] w-full flex items-center justify-center overflow-hidden">
    <Image
      src={Minkowice}
      alt="Image"
      class="h-full w-auto max-w-full object-contain"
    />
  </div>
</Layout>
