<div class="space-y-2 min-w-full">
  <details class="group [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-4 rounded-lg border border-gray-200 bg-white px-4 py-3 font-medium text-gray-900 hover:bg-gray-50"
    >
      <span>How theme toggle works?</span>

      <svg
        class="size-5 shrink-0 transition-transform duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"></path>
      </svg>
    </summary>

    <div class="p-2">
      <p>
        This example uses Tailwind & JavaScript to toggle between light and dark
        themes.
      </p>

      <ul class="list-disc list-inside space-y-2">
        <li>/src/scripts/dark-mode-toggle.js</li>
        <li>/src/components/ThemeModeButton.astro</li>
        <li>/src/styles/global.css</li>
      </ul>

      <!-- <pre><code>Code example…</code></pre> -->
    </div>
  </details>

  <details class="group [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-4 rounded-lg border border-gray-200 bg-white px-4 py-3 font-medium text-gray-900 hover:bg-gray-50"
    >
      <span>Layout description</span>

      <svg
        class="size-5 shrink-0 transition-transform duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"></path>
      </svg>
    </summary>

    <div class="p-2">
      <p class="whitespace-pre-line">
        Yellow border : Body (Layout.astro) <br />
        Red border : Header with Theme Toggle Button (Layout.astro) <br />
        White border : Main content area (Layout.astro - content is slotted here)<br
        />

        Blue border : Footer with company info (Layout.astro) <br />
        Green border : Container for Accordion component <br />
      </p>
    </div>
  </details>
</div>
