---
const { src } = Astro.props;
---

<div class="relative w-full h-full overflow-hidden">
  <video
    autoplay
    muted
    loop
    playsinline
    class="absolute inset-0 w-full h-full object-contain"
  >
    <source src={src} type="video/webm" />
  </video>

  <div class="relative z-10 h-full">
    <slot />
  </div>
</div>
