---
import ThemeModeButton from "../components/ThemeModeButton.astro";
import DarkMode from "../components/DarkMode.astro";
import "../styles/global.css";
import VideoBackground from "../components/VideoBackground.astro";
import HeaderLink from "../components/HeaderLink.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/AstroTailwindThemeToggle/favicon.svg"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro+Tailwind</title>
  </head>

  <body
    class="min-h-screen flex flex-col w-full px-2 py-1 gap-2 border-5 border-yellow-500"
  >
    <!-- Header -->
    <header
      class="min-h-16 flex items-center justify-end px-2 border-2 border-red-500"
    >
      <div id="navbar-default" class="hidden w-full md:block md:w-auto">
        <ul
          class="mt-4 flex flex-col gap-2 rounded-lg
            bg-white/70 backdrop-blur-md
            dark:bg-gray-900/70
            md:mt-0 md:flex-row md:gap-8
            md:bg-transparent md:backdrop-blur-0"
        >
          <HeaderLink href="/">Home</HeaderLink>
          <HeaderLink href="/video">Video</HeaderLink>
        </ul>
      </div>
      <ThemeModeButton />
    </header>

    <!-- Main 
    class="flex-1 w-full flex justify-center border-2 border-white-500 py-2" 
    -->
    <main
      class="flex-1 w-full flex justify-center border-2 border-white-500 py-2"
    >
      <slot />
    </main>

    <!-- Footer -->
    <footer
      class="min-h-12 flex items-center justify-center px-2 border-2 border-blue-500"
    >
      <p class="text-sm">© 2026 McKenzi84</p>
    </footer>
  </body>
</html>
